header{
    background-color: yellowgreen; /*tipo di colore verde*/
    font-size: 50px;
    font-family: Pacifico, Verdana, Arial, sans-serif;
    text-align: center;

}

aside{
    width: 150px;
    border: 5px solid black;
    text-align: left;
    padding: 5px;
    float: right;
}

article{
    width: 80%;
    text-align: left;
    word-spacing: 3px;
    line-height: 2;
}

h1{
    text-align: center;
    color: yellowgreen;
    font-weight: Bold;
}

#titolo_stato{
    font-family: Arial, Verdana, sans-serif;

}

