header{
    background-color: yellowgreen; /*tipo di colore verde*/
    font-size: 50px;
    font-family: Pacifico, Verdana, Arial, sans-serif;
    text-align: center;

}

aside{
    border: 5px solid black;
    text-align: center;
    padding: 5px;
}

#titolo_stato{
    font-family: Arial, Verdana, sans-serif;

}

